<a href="https://colab.research.google.com/github/dshvadskiy/liveProjects/blob/master/LanguageModel_StackExchange.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!wget https://liveproject-resources.s3.amazonaws.com/116/other/stackexchange_812k.csv.gz

--2020-04-28 02:07:25--  https://liveproject-resources.s3.amazonaws.com/116/other/stackexchange_812k.csv.gz
Resolving liveproject-resources.s3.amazonaws.com (liveproject-resources.s3.amazonaws.com)... 52.216.179.43
Connecting to liveproject-resources.s3.amazonaws.com (liveproject-resources.s3.amazonaws.com)|52.216.179.43|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 130230720 (124M) [application/x-gzip]
Saving to: ‘stackexchange_812k.csv.gz’

stackexchange_812k. 100%[===================>] 124.20M  68.0MB/s    in 1.8s

2020-04-28 02:07:28 (68.0 MB/s) - ‘stackexchange_812k.csv.gz’ saved [130230720/130230720]

In [0]:
!gzip -d  stackexchange_812k.csv.gz

In [4]:
!ls -la

total 368580
drwxr-xr-x 1 root root      4096 Apr 28 02:07 .
drwxr-xr-x 1 root root      4096 Apr 28 02:06 ..
drwxr-xr-x 1 root root      4096 Apr 23 16:11 .config
drwxr-xr-x 1 root root      4096 Apr  3 16:24 sample_data
-rw-r--r-- 1 root root 377402808 Apr 18 19:07 stackexchange_812k.csv

In [7]:
!head -n 10 stackexchange_812k.csv

"post_id","parent_id","comment_id","text","category"
"1","","","Eliciting priors from experts","title"
"2","","","What is normality?","title"
"3","","","What are some valuable Statistical Analysis open source projects?","title"
"4","","","Assessing the significance of differences in distributions","title"
"6","","","The Two Cultures: statistics vs. machine learning?","title"
"7","","","Locating freely available data samples","title"
"8","","","So how many staticians *does* it take to screw in a lightbulb?","title"
"10","","","Under what conditions should Likert scales be used as ordinal or interval data?","title"
"11","","","Multivariate Interpolation Approaches","title"

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv("stackexchange_812k.csv")

In [14]:
pd.set_option('max_colwidth', 500)
data.sample(5)

        post_id  ...  category
92149       744  ...      post
697706   342921  ...   comment
759087   237177  ...   comment
317989    32475  ...   comment
416187   193421  ...   comment

[5 rows x 5 columns]

In [0]:
import re
def striphtml(data):
    p = re.compile(r'<.*?>')
    return p.sub('', data)

In [0]:
data['text'] = data['text'].apply(lambda x: striphtml(x))

In [20]:
data.sample(5)

        post_id  ...  category
394514   176557  ...   comment
379854    74653  ...   comment
263066     2550  ...   comment
289462    17258  ...   comment
526660   148160  ...   comment

[5 rows x 5 columns]